* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

    .header-recorder {
        text-align: center;
        position: relative;
        padding: 2rem 0;

        h3 {
            font-family: "Hind Siliguri", sans-serif;
            color: #3059ca;
            font-size: 1.5rem;
        }
        .list-recordings-icon {
            position: absolute;
            left: 1rem;
            top: 1.5rem;
        }
    }
    #recording-index {
        .audio-recorder {
            padding: 2rem 1rem;
            text-align: center;

            .time {
                margin-top: 1.5rem;

                .hours,
                .minutes,
                .seconds {
                    font-family: "Hind Siliguri", sans-serif;
                    font-size: 2.8rem;
                    color: #3059ca;
                }
            }
            .bars {
                padding: 0 5rem;
                background: url("/assets/img/sound.png") space center center;
                background-size: contain;
                height: 8rem;
                width: 100%;
            }
            audio {
                display: none;
            }
            .bars-animate {
                animation: move 4s linear infinite;
            }
            @keyframes move {
                to {
                    transform: translateX(-100%);
                }
                from {
                    transform: translatex(100%);
                }
            }
        }
        .options-recorder {
            padding: 2rem;
            text-align: center;

            #btn-start,
            #btn-stop {
                text-decoration: none;
            }
            #btn-stop {
                display: none;
            }
        }
    }
    #recording-list {
        margin-top: 5rem;
        padding: 0 1.5rem;
        display: none;
        
        .audio-file {
            margin: 1rem 0;

            .header-file {
                display: flex;
                justify-content: space-between;
                align-items: center;

                label {
                    font-family: "Hind Siliguri", sans-serif;
                    font-size: 1.2rem;
                    color: #3059ca;
                    margin-left: 0.5rem;
                }
                a {
                    font-family: "Hind Siliguri", sans-serif;
                    color: red;
                    text-decoration: none;
                    margin-right: .5rem
                }
            }
            audio {
                width: 100%;
                margin-top: .5rem;
            }
        }
    }
}
