* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
}

.main .header-recorder {
  text-align: center;
  position: relative;
  padding: 2rem 0;
}

.main .header-recorder h3 {
  font-family: "Hind Siliguri", sans-serif;
  color: #3059ca;
  font-size: 1.5rem;
}

.main .header-recorder .list-recordings-icon {
  position: absolute;
  left: 1rem;
  top: 1.5rem;
}

.main #recording-index .audio-recorder {
  padding: 2rem 1rem;
  text-align: center;
}

.main #recording-index .audio-recorder .time {
  margin-top: 1.5rem;
}

.main #recording-index .audio-recorder .time .hours,
.main #recording-index .audio-recorder .time .minutes,
.main #recording-index .audio-recorder .time .seconds {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 2.8rem;
  color: #3059ca;
}

.main #recording-index .audio-recorder .bars {
  padding: 0 5rem;
  background: url("/assets/img/sound.png") space center center;
  background-size: contain;
  height: 8rem;
  width: 100%;
}

.main #recording-index .audio-recorder audio {
  display: none;
}

.main #recording-index .audio-recorder .bars-animate {
  -webkit-animation: move 4s linear infinite;
          animation: move 4s linear infinite;
}

@-webkit-keyframes move {
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  from {
    -webkit-transform: translatex(100%);
            transform: translatex(100%);
  }
}

@keyframes move {
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  from {
    -webkit-transform: translatex(100%);
            transform: translatex(100%);
  }
}

.main #recording-index .options-recorder {
  padding: 2rem;
  text-align: center;
}

.main #recording-index .options-recorder #btn-start,
.main #recording-index .options-recorder #btn-stop {
  text-decoration: none;
}

.main #recording-index .options-recorder #btn-stop {
  display: none;
}

.main #recording-list {
  margin-top: 5rem;
  padding: 0 1.5rem;
  display: none;
}

.main #recording-list .audio-file {
  margin: 1rem 0;
}

.main #recording-list .audio-file .header-file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main #recording-list .audio-file .header-file label {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 1.2rem;
  color: #3059ca;
  margin-left: 0.5rem;
}

.main #recording-list .audio-file .header-file a {
  font-family: "Hind Siliguri", sans-serif;
  color: red;
  text-decoration: none;
  margin-right: .5rem;
}

.main #recording-list .audio-file audio {
  width: 100%;
  margin-top: .5rem;
}
/*# sourceMappingURL=styles.css.map */